@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
    overflow: hidden;
}
.container
{
    position: relative;
    width: 100%;
}
.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active
{
    width: 60px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    
}
.navigation ul li:hover
{
    background: #03a9f4;
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 20px;
}
.navigation ul li:nth-child(1):hover
{
    background: transparent;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon .fa
{
    color: #fff;
    font-size: 24px;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.main
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;
  padding-right: var(--bs-gutter-x, 1.5rem);
  padding-left: var(--bs-gutter-x, 1.5rem);
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
  padding-top: 100px;
  width: 1000px;
  height: 400px;
  margin: auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
table {
    caption-side: bottom;
    border-collapse: collapse;
  }
  
caption{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #6c757d;
    text-align: left;
}
  
th{
    text-align: inherit;
    text-align: -webkit-match-parent;
}
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  padding: 0px;
  padding-left: 70px;
  padding-right: 50px;
}